engine/core/source/org/pentaho/reporting/engine/classic/core/modules/output/table/xml/xml-table-output.xsd

<xsd:schema version="3.5" elementFormDefault="qualified"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://reporting.pentaho.org/namespaces/output/layout-output/table/1.0"
            targetNamespace="http://reporting.pentaho.org/namespaces/output/layout-output/table/1.0">

  <xsd:element name="layout-output">
    <xsd:complexType mixed="true">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="table" type="tableType"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="tableType">
    <xsd:sequence>
      <xsd:element name="cols" type="colsType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="row" type="rowType" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="col-count" type="xsd:integer" use="required"/>
    <xsd:attribute name="row-count" type="xsd:integer" use="required"/>
    <xsd:attribute name="sheet-name" type="xsd:string" use="optional"/>
  </xsd:complexType>

  <xsd:complexType name="colsType">
    <xsd:sequence>
      <xsd:element name="column" type="columnType" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="columnType" mixed="true">
    <xsd:attribute name="width" type="xsd:double"/>
  </xsd:complexType>

  <xsd:complexType name="rowType">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="empty-cell" type="emptyCellType"/>
        <xsd:element name="spanned-cell" type="spannedCellType"/>
        <xsd:element name="cell" type="cellType"/>
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="height" type="xsd:double"/>
  </xsd:complexType>

  <xsd:complexType name="attributeType">
    <xsd:anyAttribute/>
  </xsd:complexType>

  <xsd:complexType name="emptyCellType">
    <xsd:choice maxOccurs="unbounded">
      <xsd:element name="attribute" type="attributeType"/>
    </xsd:choice>
    <xsd:attributeGroup ref="cellAttributes"/>
  </xsd:complexType>

  <xsd:complexType name="spannedCellType"/>
  <xsd:complexType name="cellType">
    <xsd:choice maxOccurs="unbounded">
      <xsd:element name="pageArea" type="pageAreaType"/>
      <xsd:element name="p" type="contentBoxType"/>
      <xsd:element name="block" type="contentBoxType"/>
      <xsd:element name="line" type="contentBoxType"/>
      <xsd:element name="inline" type="contentBoxType"/>
      <xsd:element name="other-box" type="contentBoxType"/>
      <xsd:element name="canvas" type="contentBoxType"/>
      <xsd:element name="row-box" type="contentBoxType"/>
      <xsd:element name="text" type="textType"/>
      <xsd:element name="spacer" type="spacerType"/>
      <xsd:element name="replaced-content" type="replacedContentType"/>
      <xsd:element name="attribute" type="attributeType"/>
    </xsd:choice>
    <xsd:attributeGroup ref="cellAttributes"/>
  </xsd:complexType>

  <xsd:attributeGroup name="cellAttributes">
    <xsd:attribute name="border-top-width" type="xsd:string"/>
    <xsd:attribute name="border-top-style" type="xsd:string"/>
    <xsd:attribute name="border-top-color" type="xsd:string"/>

    <xsd:attribute name="border-left-width" type="xsd:string"/>
    <xsd:attribute name="border-left-style" type="xsd:string"/>
    <xsd:attribute name="border-left-color" type="xsd:string"/>

    <xsd:attribute name="border-bottom-width" type="xsd:string"/>
    <xsd:attribute name="border-bottom-style" type="xsd:string"/>
    <xsd:attribute name="border-bottom-color" type="xsd:string"/>

    <xsd:attribute name="border-right-width" type="xsd:string"/>
    <xsd:attribute name="border-right-style" type="xsd:string"/>
    <xsd:attribute name="border-right-color" type="xsd:string"/>

    <xsd:attribute name="border-top-left-x" type="xsd:string"/>
    <xsd:attribute name="border-top-left-y" type="xsd:string"/>
    <xsd:attribute name="border-top-right-x" type="xsd:string"/>
    <xsd:attribute name="border-top-right-y" type="xsd:string"/>

    <xsd:attribute name="border-bottom-left-x" type="xsd:string"/>
    <xsd:attribute name="border-bottom-left-y" type="xsd:string"/>
    <xsd:attribute name="border-bottom-right-x" type="xsd:string"/>
    <xsd:attribute name="border-bottom-right-y" type="xsd:string"/>

    <xsd:attribute name="background-color" type="xsd:string"/>
    <xsd:attribute name="anchor" type="xsd:string"/>

    <xsd:attribute name="row-span" type="xsd:integer"/>
    <xsd:attribute name="col-span" type="xsd:integer"/>
    <xsd:attribute name="href" type="xsd:string"/>
    <xsd:attribute name="href-window" type="xsd:string"/>
    <xsd:attribute name="href-title" type="xsd:string"/>
  </xsd:attributeGroup>

  <xsd:attributeGroup name="boxAttributes">
    <xsd:attribute name="border-top-width" type="xsd:string"/>
    <xsd:attribute name="border-top-style" type="xsd:string"/>
    <xsd:attribute name="border-top-color" type="xsd:string"/>

    <xsd:attribute name="border-left-width" type="xsd:string"/>
    <xsd:attribute name="border-left-style" type="xsd:string"/>
    <xsd:attribute name="border-left-color" type="xsd:string"/>

    <xsd:attribute name="border-bottom-width" type="xsd:string"/>
    <xsd:attribute name="border-bottom-style" type="xsd:string"/>
    <xsd:attribute name="border-bottom-color" type="xsd:string"/>

    <xsd:attribute name="border-right-width" type="xsd:string"/>
    <xsd:attribute name="border-right-style" type="xsd:string"/>
    <xsd:attribute name="border-right-color" type="xsd:string"/>

    <xsd:attribute name="border-top-left-x" type="xsd:string"/>
    <xsd:attribute name="border-top-left-y" type="xsd:string"/>
    <xsd:attribute name="border-top-right-x" type="xsd:string"/>
    <xsd:attribute name="border-top-right-y" type="xsd:string"/>

    <xsd:attribute name="border-bottom-left-x" type="xsd:string"/>
    <xsd:attribute name="border-bottom-left-y" type="xsd:string"/>
    <xsd:attribute name="border-bottom-right-x" type="xsd:string"/>
    <xsd:attribute name="border-bottom-right-y" type="xsd:string"/>

    <xsd:attribute name="background-color" type="xsd:string"/>
    <xsd:attribute name="anchor" type="xsd:string"/>

    <xsd:attribute name="row-span" type="xsd:integer"/>
    <xsd:attribute name="col-span" type="xsd:integer"/>
    <xsd:attribute name="col-index" type="xsd:integer"/>
    <xsd:attribute name="href" type="xsd:string"/>
    <xsd:attribute name="href-window" type="xsd:string"/>
    <xsd:attribute name="href-title" type="xsd:string"/>

    <xsd:attribute name="x" type="xsd:string"/>
    <xsd:attribute name="y" type="xsd:string"/>
    <xsd:attribute name="width" type="xsd:string"/>
    <xsd:attribute name="height" type="xsd:string"/>

    <xsd:attribute name="margin-top" type="xsd:string"/>
    <xsd:attribute name="margin-left" type="xsd:string"/>
    <xsd:attribute name="margin-right" type="xsd:string"/>
    <xsd:attribute name="margin-bottom" type="xsd:string"/>

    <xsd:attribute name="padding-top" type="xsd:string"/>
    <xsd:attribute name="padding-left" type="xsd:string"/>
    <xsd:attribute name="padding-right" type="xsd:string"/>
    <xsd:attribute name="padding-bottom" type="xsd:string"/>


    <xsd:attribute name="color" type="xsd:string"/>
    <xsd:attribute name="font-face" type="xsd:string"/>
    <xsd:attribute name="font-size" type="xsd:string"/>
    <xsd:attribute name="font-style-bold" type="xsd:string"/>
    <xsd:attribute name="font-style-italics" type="xsd:string"/>
    <xsd:attribute name="font-style-underline" type="xsd:string"/>
    <xsd:attribute name="font-style-strikethrough" type="xsd:string"/>
    <xsd:anyAttribute/>
  </xsd:attributeGroup>

  <xsd:complexType name="pageAreaType">
    <xsd:choice>
      <xsd:element name="p" type="contentBoxType"/>
      <xsd:element name="block" type="contentBoxType"/>
      <xsd:element name="line" type="contentBoxType"/>
      <xsd:element name="inline" type="contentBoxType"/>
      <xsd:element name="other-box" type="contentBoxType"/>
      <xsd:element name="canvas" type="contentBoxType"/>
      <xsd:element name="row-box" type="contentBoxType"/>
      <xsd:element name="text" type="textType"/>
      <xsd:element name="spacer" type="spacerType"/>
      <xsd:element name="replaced-content" type="replacedContentType"/>
    </xsd:choice>
    <xsd:attributeGroup ref="boxAttributes"/>
    <xsd:attribute name="type" type="xsd:string"/>
  </xsd:complexType>

  <xsd:complexType name="contentBoxType">
    <xsd:choice>
      <xsd:element name="p" type="contentBoxType"/>
      <xsd:element name="block" type="contentBoxType"/>
      <xsd:element name="line" type="contentBoxType"/>
      <xsd:element name="inline" type="contentBoxType"/>
      <xsd:element name="other-box" type="contentBoxType"/>
      <xsd:element name="canvas" type="contentBoxType"/>
      <xsd:element name="row-box" type="contentBoxType"/>
      <xsd:element name="text" type="textType"/>
      <xsd:element name="spacer" type="spacerType"/>
      <xsd:element name="replaced-content" type="replacedContentType"/>
    </xsd:choice>
    <xsd:attributeGroup ref="boxAttributes"/>
    <xsd:attribute name="type" type="xsd:string"/>
  </xsd:complexType>

  <xsd:complexType name="textType" mixed="true">
    <xsd:attribute name="x" type="xsd:string"/>
    <xsd:attribute name="y" type="xsd:string"/>
    <xsd:attribute name="width" type="xsd:string"/>
    <xsd:attribute name="height" type="xsd:string"/>
  </xsd:complexType>

  <xsd:complexType name="spacerType" mixed="true">
    <xsd:attribute name="width" type="xsd:string"/>
    <xsd:attribute name="height" type="xsd:string"/>
    <xsd:attribute name="preserve" type="xsd:string"/>
  </xsd:complexType>

  <xsd:complexType name="replacedContentType" mixed="true">
    <xsd:attribute name="x" type="xsd:string"/>
    <xsd:attribute name="y" type="xsd:string"/>
    <xsd:attribute name="width" type="xsd:string"/>
    <xsd:attribute name="height" type="xsd:string"/>
    <xsd:attribute name="source" type="xsd:string"/>
    <xsd:attribute name="content-width" type="xsd:string"/>
    <xsd:attribute name="content-height" type="xsd:string"/>
    <xsd:attribute name="requested-width" type="xsd:string"/>
    <xsd:attribute name="requested-height" type="xsd:string"/>
    <xsd:attribute name="raw-object-type" type="xsd:string"/>
  </xsd:complexType>
</xsd:schema>