engine/core/src/main/resources/org/pentaho/reporting/engine/classic/core/modules/parser/bundle/settings.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://reporting.pentaho.org/namespaces/engine/classic/bundle/settings/1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:settings="http://reporting.pentaho.org/namespaces/engine/classic/bundle/settings/1.0">
  <xs:element name="settings" type="settings:settingsType">
    <xs:annotation>
      <xs:documentation>The settings file contains global settings that apply to the master as well as all
        sub-reports.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="runtimeType">
    <xs:sequence>
      <xs:element type="settings:moduleType" name="module" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="propertyType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="configurationType">
    <xs:sequence>
      <xs:element type="settings:propertyType" name="property" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="settingsType">
    <xs:sequence>
      <xs:element type="settings:configurationType" name="configuration">
        <xs:annotation>
          <xs:documentation>The settings file contains the local report configuration</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="settings:runtimeType" name="runtime">
        <xs:annotation>
          <xs:documentation>The runtime section contains the list of dependencies required to run this report.
            This allows applications to gracefully fail in case of missing dependencies.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="moduleType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="major-version" use="optional"/>
        <xs:attribute type="xs:string" name="minor-version" use="optional"/>
        <xs:attribute type="xs:string" name="patch-version" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>