engine/core/source/org/pentaho/reporting/engine/classic/core/metadata/meta-elements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://reporting.pentaho.org/namespaces/engine/classic/metadata/1.0"
           targetNamespace="http://reporting.pentaho.org/namespaces/engine/classic/metadata/1.0">

  <xs:simpleType name="maturityLevelAttr">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Development"/>
      <xs:enumeration value="Snapshot"/>
      <xs:enumeration value="Community"/>
      <xs:enumeration value="Limited"/>
      <xs:enumeration value="Production"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="expressionType">
    <xs:sequence>
      <xs:element type="propertyType" name="property" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="class"/>
    <xs:attribute type="xs:string" name="result"/>
    <xs:attribute type="xs:string" name="bundle-name" use="required"/>
    <xs:attribute type="xs:boolean" name="expert" use="optional"/>
    <xs:attribute type="xs:boolean" name="hidden" use="optional"/>
    <xs:attribute type="xs:boolean" name="deprecated" use="optional"/>
    <xs:attribute type="xs:boolean" name="preferred" use="optional"/>
    <xs:attribute type="xs:string" name="layout-processor-mode" use="optional"/>
    <xs:attribute type="xs:string" name="compatibility-level" use="optional"/>
    <xs:attribute type="xs:boolean" name="experimental" use="optional"/>
    <xs:attribute type="maturityLevelAttr" name="maturity-level" use="optional"/>
  </xs:complexType>

  <xs:complexType name="propertyType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:boolean" name="preferred" use="optional"/>
        <xs:attribute type="xs:boolean" name="mandatory" use="optional"/>
        <xs:attribute type="xs:boolean" name="expert" use="optional"/>
        <xs:attribute type="xs:boolean" name="hidden" use="optional"/>
        <xs:attribute type="xs:boolean" name="deprecated" use="optional"/>
        <xs:attribute type="xs:string" name="value-role" use="optional"/>
        <xs:attribute type="xs:string" name="propertyEditor" use="optional"/>
        <xs:attribute type="xs:boolean" name="computed" use="optional"/>
        <xs:attribute type="xs:string" name="compatibility-level" use="optional"/>
        <xs:attribute type="xs:string" name="impl" use="optional"/>
        <xs:attribute type="xs:string" name="designTimeProperty" use="optional"/>
        <xs:attribute type="xs:string" name="readHandler" use="optional"/>
        <xs:attribute type="xs:string" name="writeHandler" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="attribute-groupType">
    <xs:sequence>
      <xs:element type="attributeType" name="attribute" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
    <xs:attribute type="xs:string" name="bundle-name" use="optional"/>
  </xs:complexType>

  <xs:complexType name="elementType">
    <xs:sequence>
      <xs:element type="attribute-group-refType" name="attribute-group-ref" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="attributeType" name="attribute" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="style-group-refType" name="style-group-ref" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="styleType" name="style" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
    <xs:attribute type="xs:string" name="bundle-name" use="required"/>
    <xs:attribute type="xs:string" name="implementation" use="required"/>
    <xs:attribute type="xs:boolean" name="expert" use="optional"/>
    <xs:attribute type="xs:boolean" name="hidden" use="optional"/>
    <xs:attribute type="xs:boolean" name="preferred" use="optional"/>
    <xs:attribute type="xs:boolean" name="deprecated" use="optional"/>
    <xs:attribute type="xs:boolean" name="container" use="optional"/>
    <xs:attribute type="xs:string" name="compatibility-level" use="optional"/>
    <xs:attribute type="xs:string" name="type-classification" use="optional"/>
    <xs:attribute type="xs:string" name="content-type" use="optional"/>
    <xs:attribute type="xs:string" name="namespace" use="optional"/>
    <xs:attribute type="xs:boolean" name="experimental" use="optional"/>
    <xs:attribute type="maturityLevelAttr" name="maturity-level" use="optional"/>
  </xs:complexType>

  <xs:complexType name="dataFactoryType">
    <xs:attribute type="xs:string" name="name" use="required"/>
    <xs:attribute type="xs:string" name="bundle-name" use="required"/>
    <xs:attribute type="xs:string" name="key-prefix" use="optional"/>
    <xs:attribute type="xs:boolean" name="expert" use="optional"/>
    <xs:attribute type="xs:boolean" name="hidden" use="optional"/>
    <xs:attribute type="xs:boolean" name="preferred" use="optional"/>
    <xs:attribute type="xs:boolean" name="deprecated" use="optional"/>
    <xs:attribute type="xs:boolean" name="editable" use="optional"/>
    <xs:attribute type="xs:boolean" name="freeform-query" use="optional"/>
    <xs:attribute type="xs:boolean" name="metadata-source" use="optional"/>
    <xs:attribute type="xs:string" name="compatibility-level" use="optional"/>
    <xs:attribute type="xs:string" name="impl" use="optional"/>
    <xs:attribute type="xs:boolean" name="experimental" use="optional"/>
    <xs:attribute type="maturityLevelAttr" name="maturity-level" use="optional"/>
  </xs:complexType>

  <xs:complexType name="reportPreProcessorType">
    <xs:sequence>
      <xs:element type="propertyType" name="property" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="class" use="required"/>
    <xs:attribute type="xs:string" name="bundle-name" use="required"/>
    <xs:attribute type="xs:string" name="key-prefix" use="optional"/>
    <xs:attribute type="xs:boolean" name="expert" use="optional"/>
    <xs:attribute type="xs:boolean" name="hidden" use="optional"/>
    <xs:attribute type="xs:boolean" name="preferred" use="optional"/>
    <xs:attribute type="xs:boolean" name="deprecated" use="optional"/>
    <xs:attribute type="xs:boolean" name="metadata-source" use="optional"/>
    <xs:attribute type="xs:string" name="compatibility-level" use="optional"/>
    <xs:attribute type="xs:boolean" name="auto-process" use="optional"/>
    <xs:attribute type="xs:boolean" name="execute-in-design-mode" use="optional"/>
    <xs:attribute type="xs:unsignedInt" name="priority" use="optional"/>
    <xs:attribute type="xs:boolean" name="experimental" use="optional"/>
    <xs:attribute type="maturityLevelAttr" name="maturity-level" use="optional"/>
  </xs:complexType>

  <xs:complexType name="style-group-refType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="ref" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="attributeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:anyURI" name="namespace" use="optional"/>
        <xs:attribute type="xs:string" name="namespace-prefix" use="optional"/>
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:boolean" name="preferred" use="optional"/>
        <xs:attribute type="xs:boolean" name="mandatory" use="optional"/>
        <xs:attribute type="xs:boolean" name="expert" use="optional"/>
        <xs:attribute type="xs:boolean" name="hidden" use="optional"/>
        <xs:attribute type="xs:boolean" name="computed" use="optional"/>
        <xs:attribute type="xs:boolean" name="transient" use="optional"/>
        <xs:attribute type="xs:string" name="value-type" use="optional"/>
        <xs:attribute type="xs:string" name="value-role" use="optional"/>
        <xs:attribute type="xs:boolean" name="deprecated" use="optional"/>
        <xs:attribute type="xs:string" name="propertyEditor" use="optional"/>
        <xs:attribute type="xs:boolean" name="prefer-bulk" use="optional"/>
        <xs:attribute type="xs:boolean" name="design-time-value" use="optional"/>
        <xs:attribute type="xs:string" name="bundle-name" use="optional"/>
        <xs:attribute type="xs:string" name="compatibility-level" use="optional"/>
        <xs:attribute type="xs:boolean" name="experimental" use="optional"/>
        <xs:attribute type="maturityLevelAttr" name="maturity-level" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="styleType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:boolean" name="expert" use="optional"/>
        <xs:attribute type="xs:boolean" name="hidden" use="optional"/>
        <xs:attribute type="xs:boolean" name="mandatory" use="optional"/>
        <xs:attribute type="xs:boolean" name="deprecated" use="optional"/>
        <xs:attribute type="xs:string" name="propertyEditor" use="optional"/>
        <xs:attribute type="xs:string" name="bundle-name" use="optional"/>
        <xs:attribute type="xs:string" name="compatibility-level" use="optional"/>
        <xs:attribute type="xs:boolean" name="experimental" use="optional"/>
        <xs:attribute type="maturityLevelAttr" name="maturity-level" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="attribute-group-refType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="ref" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="style-groupType">
    <xs:sequence>
      <xs:element type="styleType" name="style" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional"/>
    <xs:attribute type="xs:string" name="bundle-name" use="optional"/>
  </xs:complexType>

  <xs:element name="meta-data" type="meta-dataType">
    <xs:annotation>
      <xs:documentation>
        The meta-data element is the root-element for all meta-data definition documents.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="meta-dataType">
    <xs:sequence>
      <xs:element type="includeGlobalsType" name="include-globals" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="attribute-groupType" name="attribute-group" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="style-groupType" name="style-group" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="elementType" name="element" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="expressionType" name="expression" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="dataFactoryType" name="data-factory" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="reportPreProcessorType" name="pre-processor" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="includeGlobalsType">
    <xs:attribute type="xs:string" name="src" use="required"/>
  </xs:complexType>
</xs:schema>