engine/core/source/org/pentaho/reporting/engine/classic/core/modules/parser/bundle/styles.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://reporting.pentaho.org/namespaces/engine/classic/bundle/style/1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:layout="http://reporting.pentaho.org/namespaces/engine/classic/bundle/layout/1.0"
           xmlns:style="http://reporting.pentaho.org/namespaces/engine/classic/bundle/style/1.0">
  <xs:element name="style" type="style:styleType"/>
  <xs:element name="element-style" type="style:style-ruleType"/>
  <xs:complexType name="band-stylesType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="computed-sheetname"/>
        <xs:attribute type="xs:string" name="bookmark"/>
        <xs:attribute type="xs:boolean" name="pagebreak-before"/>
        <xs:attribute type="xs:boolean" name="pagebreak-after"/>
        <xs:attribute type="xs:string" name="layout"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="page-definitionType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:nonNegativeInteger" name="horizontal-span"/>
        <xs:attribute type="xs:nonNegativeInteger" name="vertical-span"/>
        <xs:attribute type="xs:string" name="pageformat"/>
        <xs:attribute type="xs:string" name="orientation"/>
        <xs:attribute type="xs:nonNegativeInteger" name="page-width"/>
        <xs:attribute type="xs:nonNegativeInteger" name="page-height"/>
        <xs:attribute type="xs:nonNegativeInteger" name="margin-top"/>
        <xs:attribute type="xs:nonNegativeInteger" name="margin-left"/>
        <xs:attribute type="xs:nonNegativeInteger" name="margin-bottom"/>
        <xs:attribute type="xs:nonNegativeInteger" name="margin-right"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="content-stylesType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:boolean" name="draw-shape"/>
        <xs:attribute type="xs:boolean" name="fill-shape"/>
        <xs:attribute type="xs:boolean" name="scale"/>
        <xs:attribute type="xs:boolean" name="keep-aspect-ratio"/>
        <xs:attribute type="xs:string" name="fill-color"/>
        <xs:attribute type="xs:nonNegativeInteger" name="stroke-weight"/>
        <xs:attribute type="xs:string" name="stroke-style"/>
        <xs:attribute type="xs:string" name="color"/>
        <xs:attribute type="xs:boolean" name="dynamic-height"/>
        <xs:attribute type="xs:string" name="excel-cell-format"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="page-band-stylesType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:boolean" name="repeat"/>
        <xs:attribute type="xs:boolean" name="display-on-first-page"/>
        <xs:attribute type="xs:boolean" name="display-on-last-page"/>
        <xs:attribute type="xs:boolean" name="sticky"/>
        <xs:attribute type="xs:string" name="fixed-position"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="styleType">
    <xs:sequence>
      <xs:element type="style:page-definitionType" name="page-definition" minOccurs="0" maxOccurs="1"/>
      <xs:element type="style:style-ruleType" name="style-rule" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Contains a list of style-sheets keyed by a unique name. Style-Sheets can have an optional
            parent
            stylesheet to allow some simple form of inheritance. Global stylesheets defined here always inherit
            all style-properties.

            Attributes not set here indicate that the parent's value should be used. If the style has
            no parent, then the default-stylesheet's value will be used instead.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="layout:layout-processors" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="layout:page-header" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="layout:watermark" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="layout:page-footer" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="common-stylesType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="anchor-name"/>
        <xs:attribute type="xs:string" name="href-target"/>
        <xs:attribute type="xs:string" name="href-title"/>
        <xs:attribute type="xs:string" name="href-html-window"/>
        <xs:attribute type="xs:string" name="box-sizing"/>
        <xs:attribute type="xs:boolean" name="visible"/>
        <xs:attribute type="xs:nonNegativeInteger" name="widows"/>
        <xs:attribute type="xs:nonNegativeInteger" name="orpahans"/>
        <xs:attribute type="xs:boolean" name="overflow-x"/>
        <xs:attribute type="xs:boolean" name="overflow-y"/>
        <xs:attribute type="xs:boolean" name="avoid-page-break"/>
        <xs:attribute type="xs:string" name="vertical-alignment"/>
        <xs:attribute type="xs:string" name="alignment"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="style-ruleType">
    <xs:sequence>
      <xs:element type="style:band-stylesType" name="band-styles"/>
      <xs:element type="style:page-band-stylesType" name="page-band-styles"/>
      <xs:element type="style:common-stylesType" name="common-styles"/>
      <xs:element type="style:content-stylesType" name="content-styles"/>
      <xs:element type="style:text-stylesType" name="text-styles"/>
      <xs:element type="style:border-stylesType" name="border-styles"/>
      <xs:element type="style:spatial-stylesType" name="spatial-styles"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name"/>
    <xs:attribute type="xs:string" name="parent"/>
  </xs:complexType>
  <xs:complexType name="spatial-stylesType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="x"/>
        <xs:attribute type="xs:string" name="y"/>
        <xs:attribute type="xs:string" name="width"/>
        <xs:attribute type="xs:string" name="height"/>
        <xs:attribute type="xs:string" name="min-width"/>
        <xs:attribute type="xs:string" name="max-width"/>
        <xs:attribute type="xs:string" name="min-height"/>
        <xs:attribute type="xs:string" name="max-height"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="border-stylesType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="background-color"/>
        <xs:attribute type="xs:nonNegativeInteger" name="padding"/>
        <xs:attribute type="xs:nonNegativeInteger" name="padding-top"/>
        <xs:attribute type="xs:nonNegativeInteger" name="padding-left"/>
        <xs:attribute type="xs:nonNegativeInteger" name="padding-right"/>
        <xs:attribute type="xs:nonNegativeInteger" name="padding-bottom"/>
        <xs:attribute type="xs:string" name="border-color"/>
        <xs:attribute type="xs:nonNegativeInteger" name="border-width"/>
        <xs:attribute type="xs:string" name="border-style"/>
        <xs:attribute type="xs:nonNegativeInteger" name="border-radius-width"/>
        <xs:attribute type="xs:nonNegativeInteger" name="border-radius-height"/>
        <xs:attribute type="xs:string" name="border-top-color"/>
        <xs:attribute type="xs:string" name="border-left-color"/>
        <xs:attribute type="xs:string" name="border-bottom-color"/>
        <xs:attribute type="xs:string" name="border-right-color"/>
        <xs:attribute type="xs:string" name="border-break-color"/>
        <xs:attribute type="xs:string" name="border-top-style"/>
        <xs:attribute type="xs:string" name="border-left-style"/>
        <xs:attribute type="xs:string" name="border-bottom-style"/>
        <xs:attribute type="xs:string" name="border-right-style"/>
        <xs:attribute type="xs:string" name="border-break-style"/>
        <xs:attribute type="xs:nonNegativeInteger" name="border-top-width"/>
        <xs:attribute type="xs:nonNegativeInteger" name="border-left-width"/>
        <xs:attribute type="xs:nonNegativeInteger" name="border-bottom-width"/>
        <xs:attribute type="xs:nonNegativeInteger" name="border-right-width"/>
        <xs:attribute type="xs:nonNegativeInteger" name="border-break-width"/>
        <xs:attribute type="xs:nonNegativeInteger" name="border-top-right-radius-width"/>
        <xs:attribute type="xs:nonNegativeInteger" name="border-top-right-radius-height"/>
        <xs:attribute type="xs:nonNegativeInteger" name="border-top-left-radius-width"/>
        <xs:attribute type="xs:nonNegativeInteger" name="border-top-left-radius-height"/>
        <xs:attribute type="xs:nonNegativeInteger" name="border-bottom-right-radius-width"/>
        <xs:attribute type="xs:nonNegativeInteger" name="border-bottom-right-radius-height"/>
        <xs:attribute type="xs:nonNegativeInteger" name="border-bottom-left-radius-width"/>
        <xs:attribute type="xs:nonNegativeInteger" name="border-bottom-left-radius-height"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="text-stylesType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="font-face"/>
        <xs:attribute type="xs:boolean" name="bold"/>
        <xs:attribute type="xs:boolean" name="italic"/>
        <xs:attribute type="xs:boolean" name="strikethrough"/>
        <xs:attribute type="xs:boolean" name="underline"/>
        <xs:attribute type="xs:boolean" name="embedded"/>
        <xs:attribute type="xs:string" name="font-smooth"/>
        <xs:attribute type="xs:string" name="encoding"/>
        <xs:attribute type="xs:nonNegativeInteger" name="font-size"/>
        <xs:attribute type="xs:string" name="line-height"/>
        <xs:attribute type="xs:string" name="ellipsis"/>
        <xs:attribute type="xs:string" name="text-wrap"/>
        <xs:attribute type="xs:string" name="trim-text-content"/>
        <xs:attribute type="xs:string" name="vertical-text-alignment"/>
        <xs:attribute type="xs:string" name="whitespace-collapse"/>
        <xs:attribute type="xs:integer" name="word-spacing"/>
        <xs:attribute type="xs:integer" name="max-letter-spacing"/>
        <xs:attribute type="xs:integer" name="min-letter-spacing"/>
        <xs:attribute type="xs:integer" name="optimum-letter-spacing"/>
        <xs:attribute type="xs:string" name="excel-text-wrapping"/>
        <xs:attribute type="xs:string" name="text-indent"/>
        <xs:attribute type="xs:string" name="first-line-indent"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="rotation-stylesType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="rotation"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>